@model WebApplication.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgeRestriction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgeRestriction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Actors)
        </dt>
        @for (int i=0;i< Model.Actors.Count; i++)
        {
            <dd>
                @Html.DisplayFor(model => model.Actors.ToList()[i].FirstName) @Html.DisplayFor(model => model.Actors.ToList()[i].LastName)
            </dd>
        }
        
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "Movies")/@Html.DisplayFor(model => model.MovieId)">Edit</a> |
    <a href="@Url.Action("Index", "Movies")">Back to List</a>
</div>
